.Header {
  display: flex;
  padding: 15px;
  justify-content: space-between;
  height: 120px;
}

.Header--nav {
  display: flex;
  margin: auto;
  width: 90%;
  justify-content: space-between;
  align-items: center;
}
.Header--logo {
  border: var(--color-primary) solid 4px;
  border-radius: 25%;
  padding: 5px;
  height: 60px;
  width: 60px;
  display: grid;
  place-items: center;
  margin-left: 15px;
}
.Header--logo img {
  filter: brightness(0) saturate(100%) invert(10%) sepia(100%) saturate(6889%) hue-rotate(271deg) brightness(92%) contrast(111%);
  width: 100%;
}
.Header--hamburger i{
  color: var(--color-primary);
  width: 60px;
  height: 60px;
  font-size: 30px;
  cursor: pointer;
  border-radius: 50px;
  display: none;
  transition: .4s;
}
.Header--hamburger i:hover {
  background-color: var(--color-primary);
  box-shadow: 0 0 15px var(--color-primary);
  color: var(--color-secundary);
}


.Header--menu-desktop {
  display: grid;
  grid-template-rows: 40px;
  grid-template-columns: repeat(auto-fit, 100px);
  width: 75%;
  align-items: center;
  justify-items: center;
  justify-content: end;
}

.Header--menu-desktop li {
  list-style: none;
}
.Header--menu-desktop li a {
  color: var(--color-primary);
}
.Header--list li a {
  font-size: 18px;
  font-weight: 700;
  transition: .2s;
}

.Header--menu-desktop li a:hover{
  font-size: 19px;
}
.Header--menu-desktop__underline {
  border-bottom: 2px solid var(--color-primary);
}
.Header--menu-mobile__underline {
  border-bottom: 2px solid var(--color-secundary)
}

.Header--menu-mobile {
  list-style: none;
  height: 100vh;
  width: 60vw;
  max-width: 350px;
  position: fixed;
  background: var(--color-primary);
  box-shadow: -4px 0 15px rgba(35, 34, 34, 0.605);
  top: 0;
  display: flex;
  right: 0;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  z-index: 100;
}
.Header--menu-mobile li a {
  color: var(--color-secundary);
}

@media (max-width: 875px) {
  .Header--menu-desktop {
    display: none;
  }
  
  .Header--hamburger i {
    display: grid;
    place-items: center;
  }
}