/* FILTER GENERATOR -> https://angel-rs.github.io/css-color-filter-generator/ */
:root {
  --color-primary : #6e07f3;
  --color-secundary: rgb(255, 255, 255);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  max-width: 1400px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Nunito', sans-serif;
}

/* HEADER */



.main {
  width: 90%;
  min-width: 300px;
  padding: 20px;
  margin: 80px auto;
}
/* INFO */


/* SKILLS */

.Skills--list li img {
  width: 100px;
}

/* FOOTER */
.Footer--social-media {
  display: flex;
  align-items: center;
}
.Footer--social-media__title {
  margin-right: 10px;
}
.Footer--social-media__list {
  display: flex;
  width: 60%;
  justify-content: space-around;
  list-style: none;
}