/* FILTER GENERATOR -> https://angel-rs.github.io/css-color-filter-generator/ */
:root {
  --color-primary : #6e07f3;
  --color-secundary: rgb(255, 255, 255);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  max-width: 2250px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Nunito', sans-serif;
}

/* HEADER */




/* INFO */


/* SKILLS */



/* FOOTER */
