.Projects {
  min-width: 300px;
  padding: 20px 0;
  margin: 80px auto;
}
.Projects--list {
  display: grid;
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, 290px);
  place-content: center;
  place-items: center;
  gap: 50px;
  grid-auto-rows: 440px;
  align-items: stretch;
}